<a href="https://colab.research.google.com/github/Miliseff/hackaton/blob/main/hack2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib
import xlrd as xlrd  #leer archivos exel
import gdown #descarga desde la pag

In [7]:

import gdown
FILE_URL = 'https://api.worldbank.org/v2/es/indicator/SM.POP.NETM?downloadformat=excel'

filename = 'migra.xls'
gdown.download(FILE_URL, filename, quiet=False)
print(filename)

Downloading...
From: https://api.worldbank.org/v2/es/indicator/SM.POP.NETM?downloadformat=excel
To: /content/migra.xls
100%|██████████| 166k/166k [00:00<00:00, 8.67MB/s]

migra.xls

In [9]:
df = pd.read_excel(filename, header=3) #con el header asigno la cabecera
print(df)

        Country Name Country Code  Indicator Name Indicator Code     1960  \
0              Aruba          ABW  Migración neta    SM.POP.NETM      0.0
1                NaN          AFE  Migración neta    SM.POP.NETM -90849.0
2         Afganistán          AFG  Migración neta    SM.POP.NETM   2606.0
3                NaN          AFW  Migración neta    SM.POP.NETM   -847.0
4             Angola          AGO  Migración neta    SM.POP.NETM -43749.0
..               ...          ...             ...            ...      ...
261           Kosovo          XKX  Migración neta    SM.POP.NETM  -6603.0
262  Yemen, Rep. del          YEM  Migración neta    SM.POP.NETM -17145.0
263        Sudáfrica          ZAF  Migración neta    SM.POP.NETM  18909.0
264           Zambia          ZMB  Migración neta    SM.POP.NETM  -3894.0
265         Zimbabwe          ZWE  Migración neta    SM.POP.NETM  -8256.0

        1961     1962     1963     1964     1965  ...      2014      2015  \
0     -569.0   -609.0   -646.0   -684.0   -726.0  ...      88.0     177.0
1    -1348.0 -24259.0 -16266.0  37452.0  11041.0  ... -199608.0  394925.0
2     6109.0   7016.0   6681.0   7079.0  10695.0  ...  255611.0 -281739.0
3   -41547.0 -36399.0 -37435.0 -45534.0 -15985.0  ... -280418.0 -360393.0
4   -49186.0 -54566.0 -59777.0 -71948.0 -87288.0  ...   84532.0   74170.0
..       ...      ...      ...      ...      ...  ...       ...       ...
261  -6713.0  -7466.0  -7874.0  -8266.0  -8573.0  ...  -56637.0  -14819.0
262 -17494.0 -17846.0 -18217.0 -18583.0 -18968.0  ...  -30048.0  -38355.0
263  56098.0  68068.0  70976.0  74419.0  80687.0  ...  290874.0  644996.0
264  -4357.0  -4756.0  -5029.0  -5214.0  -5370.0  ...   16580.0   16283.0
265  -8582.0  -8931.0  -9369.0 -10064.0 -10889.0  ...  -59918.0  -59918.0

         2016      2017      2018      2019      2020      2021      2022  \
0       170.0     218.0     367.0     412.0       0.0     501.0     164.0
1   -864708.0 -343075.0 -366105.0 -187410.0  -48955.0 -179444.0 -274282.0
2    -90238.0  -47090.0  -47205.0   -8082.0  166821.0 -183672.0  -65846.0
3   -167286.0 -200823.0 -255888.0 -328552.0  -99761.0 -264802.0 -186109.0
4     91623.0   77733.0   61632.0   58986.0    7557.0   29089.0   -1000.0
..        ...       ...       ...       ...       ...       ...       ...
261  -31383.0  -33495.0  -34137.0  -33469.0  -15050.0  -15050.0   -5000.0
262  -39688.0  -39672.0  -39699.0  -39769.0  -86100.0 -101468.0  -29998.0
263 -866101.0  -10681.0   27265.0   22728.0   30852.0   10934.0   58496.0
264   17285.0   20268.0   18019.0   18019.0    9015.0    9015.0   -5000.0
265  -59918.0  -59918.0  -59918.0  -59918.0  -29955.0  -25005.0   -9999.0

         2023
0       157.0
1   -271749.0
2    -65846.0
3   -183333.0
4     -1000.0
..        ...
261   -5000.0
262  -29914.0
263   58496.0
264   -5000.0
265   -9999.0

[266 rows x 68 columns]

In [ ]:
#df.iloc[0] #ACCEDEMOS AL INDICE 0
#df.iloc[:,0] #MUESTA LA COLUMNA
#df.iloc[:5,0] #TODO HASTA LA FILA 5 Y COLUMNA 0

In [10]:
print(df.isnull().sum()) #veo los null

Country Name      2
Country Code      0
Indicator Name    0
Indicator Code    0
1960              1
                 ..
2019              1
2020              1
2021              1
2022              1
2023              1
Length: 68, dtype: int64

In [11]:
column_name = 'Country Name'  # elimino los nulos de la columna
df = df.dropna(subset=[column_name])
print(df)

        Country Name Country Code  Indicator Name Indicator Code     1960  \
0              Aruba          ABW  Migración neta    SM.POP.NETM      0.0
2         Afganistán          AFG  Migración neta    SM.POP.NETM   2606.0
4             Angola          AGO  Migración neta    SM.POP.NETM -43749.0
5            Albania          ALB  Migración neta    SM.POP.NETM  15540.0
6            Andorra          AND  Migración neta    SM.POP.NETM    642.0
..               ...          ...             ...            ...      ...
261           Kosovo          XKX  Migración neta    SM.POP.NETM  -6603.0
262  Yemen, Rep. del          YEM  Migración neta    SM.POP.NETM -17145.0
263        Sudáfrica          ZAF  Migración neta    SM.POP.NETM  18909.0
264           Zambia          ZMB  Migración neta    SM.POP.NETM  -3894.0
265         Zimbabwe          ZWE  Migración neta    SM.POP.NETM  -8256.0

        1961     1962     1963     1964     1965  ...      2014      2015  \
0     -569.0   -609.0   -646.0   -684.0   -726.0  ...      88.0     177.0
2     6109.0   7016.0   6681.0   7079.0  10695.0  ...  255611.0 -281739.0
4   -49186.0 -54566.0 -59777.0 -71948.0 -87288.0  ...   84532.0   74170.0
5    15424.0  15288.0  15007.0  14612.0  14209.0  ...  -14265.0  -12240.0
6      653.0    664.0    670.0    672.0    669.0  ...     -84.0    -232.0
..       ...      ...      ...      ...      ...  ...       ...       ...
261  -6713.0  -7466.0  -7874.0  -8266.0  -8573.0  ...  -56637.0  -14819.0
262 -17494.0 -17846.0 -18217.0 -18583.0 -18968.0  ...  -30048.0  -38355.0
263  56098.0  68068.0  70976.0  74419.0  80687.0  ...  290874.0  644996.0
264  -4357.0  -4756.0  -5029.0  -5214.0  -5370.0  ...   16580.0   16283.0
265  -8582.0  -8931.0  -9369.0 -10064.0 -10889.0  ...  -59918.0  -59918.0

         2016     2017     2018     2019      2020      2021     2022     2023
0       170.0    218.0    367.0    412.0       0.0     501.0    164.0    157.0
2    -90238.0 -47090.0 -47205.0  -8082.0  166821.0 -183672.0 -65846.0 -65846.0
4     91623.0  77733.0  61632.0  58986.0    7557.0   29089.0  -1000.0  -1000.0
5    -10887.0  -9768.0  -9106.0  -8889.0   -9117.0  -10612.0  -8000.0  -8000.0
6      1303.0    887.0   1184.0   1238.0    1474.0    1377.0    200.0    200.0
..        ...      ...      ...      ...       ...       ...      ...      ...
261  -31383.0 -33495.0 -34137.0 -33469.0  -15050.0  -15050.0  -5000.0  -5000.0
262  -39688.0 -39672.0 -39699.0 -39769.0  -86100.0 -101468.0 -29998.0 -29914.0
263 -866101.0 -10681.0  27265.0  22728.0   30852.0   10934.0  58496.0  58496.0
264   17285.0  20268.0  18019.0  18019.0    9015.0    9015.0  -5000.0  -5000.0
265  -59918.0 -59918.0 -59918.0 -59918.0  -29955.0  -25005.0  -9999.0  -9999.0

[264 rows x 68 columns]

In [12]:
df.to_excel('archivo_actualizado_1.xlsx', index=False)# Guardar el archivo Excel actualizado

In [13]:
df = pd.read_excel('archivo_actualizado_1.xlsx') #obviamente ya no falta poner el header porq ya lo definimos
print(df.head()) #mostrar solo primero 5 resultados

  Country Name Country Code  Indicator Name Indicator Code     1960     1961  \
0        Aruba          ABW  Migración neta    SM.POP.NETM      0.0   -569.0
1   Afganistán          AFG  Migración neta    SM.POP.NETM   2606.0   6109.0
2       Angola          AGO  Migración neta    SM.POP.NETM -43749.0 -49186.0
3      Albania          ALB  Migración neta    SM.POP.NETM  15540.0  15424.0
4      Andorra          AND  Migración neta    SM.POP.NETM    642.0    653.0

      1962     1963     1964     1965  ...      2014      2015     2016  \
0   -609.0   -646.0   -684.0   -726.0  ...      88.0     177.0    170.0
1   7016.0   6681.0   7079.0  10695.0  ...  255611.0 -281739.0 -90238.0
2 -54566.0 -59777.0 -71948.0 -87288.0  ...   84532.0   74170.0  91623.0
3  15288.0  15007.0  14612.0  14209.0  ...  -14265.0  -12240.0 -10887.0
4    664.0    670.0    672.0    669.0  ...     -84.0    -232.0   1303.0

      2017     2018     2019      2020      2021     2022     2023
0    218.0    367.0    412.0       0.0     501.0    164.0    157.0
1 -47090.0 -47205.0  -8082.0  166821.0 -183672.0 -65846.0 -65846.0
2  77733.0  61632.0  58986.0    7557.0   29089.0  -1000.0  -1000.0
3  -9768.0  -9106.0  -8889.0   -9117.0  -10612.0  -8000.0  -8000.0
4    887.0   1184.0   1238.0    1474.0    1377.0    200.0    200.0

[5 rows x 68 columns]

In [14]:
# rango de columnas a eliminar por índice
start_index = 2
end_index = 44
columnas_eliminar = df.columns[start_index:end_index]
print(columnas_eliminar)
df = df.drop(columns=columnas_eliminar)

Index(['Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999'],
      dtype='object')

In [15]:
print(df.head()) #mostrar solo primero 5 resultados

  Country Name Country Code       2000      2001       2002      2003  \
0        Aruba          ABW     1235.0     560.0      350.0     324.0
1   Afganistán          AFG -1007135.0 -192286.0  1327074.0  388632.0
2       Angola          AGO    53527.0   56959.0    60505.0   59438.0
3      Albania          ALB   -63610.0  -62059.0   -59876.0  -57308.0
4      Andorra          AND      146.0    2690.0     2690.0    2722.0

       2004      2005     2006      2007  ...      2014      2015     2016  \
0     315.0     579.0    569.0     621.0  ...      88.0     177.0    170.0
1 -248616.0  252185.0  62684.0 -942887.0  ...  255611.0 -281739.0 -90238.0
2   66585.0   64009.0  70170.0   73940.0  ...   84532.0   74170.0  91623.0
3  -54383.0  -50855.0 -47174.0  -43019.0  ...  -14265.0  -12240.0 -10887.0
4    2744.0    2467.0  -2420.0   -2446.0  ...     -84.0    -232.0   1303.0

      2017     2018     2019      2020      2021     2022     2023
0    218.0    367.0    412.0       0.0     501.0    164.0    157.0
1 -47090.0 -47205.0  -8082.0  166821.0 -183672.0 -65846.0 -65846.0
2  77733.0  61632.0  58986.0    7557.0   29089.0  -1000.0  -1000.0
3  -9768.0  -9106.0  -8889.0   -9117.0  -10612.0  -8000.0  -8000.0
4    887.0   1184.0   1238.0    1474.0    1377.0    200.0    200.0

[5 rows x 26 columns]

In [16]:
df.to_excel('archivo_actualizado_2.xlsx', index=False)# Guardo

In [17]:
df = pd.read_excel('archivo_actualizado_2.xlsx') #cargo
print(df.head()) #mostrar solo primero 5 resultados

  Country Name Country Code       2000      2001       2002      2003  \
0        Aruba          ABW     1235.0     560.0      350.0     324.0
1   Afganistán          AFG -1007135.0 -192286.0  1327074.0  388632.0
2       Angola          AGO    53527.0   56959.0    60505.0   59438.0
3      Albania          ALB   -63610.0  -62059.0   -59876.0  -57308.0
4      Andorra          AND      146.0    2690.0     2690.0    2722.0

       2004      2005     2006      2007  ...      2014      2015     2016  \
0     315.0     579.0    569.0     621.0  ...      88.0     177.0    170.0
1 -248616.0  252185.0  62684.0 -942887.0  ...  255611.0 -281739.0 -90238.0
2   66585.0   64009.0  70170.0   73940.0  ...   84532.0   74170.0  91623.0
3  -54383.0  -50855.0 -47174.0  -43019.0  ...  -14265.0  -12240.0 -10887.0
4    2744.0    2467.0  -2420.0   -2446.0  ...     -84.0    -232.0   1303.0

      2017     2018     2019      2020      2021     2022     2023
0    218.0    367.0    412.0       0.0     501.0    164.0    157.0
1 -47090.0 -47205.0  -8082.0  166821.0 -183672.0 -65846.0 -65846.0
2  77733.0  61632.0  58986.0    7557.0   29089.0  -1000.0  -1000.0
3  -9768.0  -9106.0  -8889.0   -9117.0  -10612.0  -8000.0  -8000.0
4    887.0   1184.0   1238.0    1474.0    1377.0    200.0    200.0

[5 rows x 26 columns]

In [18]:
#ARMADO DE SEGUNDO DATAFRAME- HOJA 2
FILE_URL = 'https://api.worldbank.org/v2/es/indicator/SM.POP.NETM?downloadformat=excel'
filename = 'migra.xls'
gdown.download(FILE_URL, filename, quiet=False)
df_ingresos = pd.read_excel(filename, sheet_name=1)

print(df_ingresos.head())

Downloading...
From: https://api.worldbank.org/v2/es/indicator/SM.POP.NETM?downloadformat=excel
To: /content/migra.xls
100%|██████████| 166k/166k [00:00<00:00, 2.34MB/s]

  Country Name Country Code  \
0        Aruba          ABW
1          NaN          AFE
2   Afganistán          AFG
3          NaN          AFW
4       Angola          AGO

                                              Region  \
0                                                NaN
1                                                NaN
2                                    Asia meridional
3                                                NaN
4  África al sur del Sahara (excluido altos ingre...

                     Income_Group
0                    Ingreso alto
1                       Agregados
2          Países de ingreso bajo
3                       Agregados
4  Países de ingreso mediano bajo

In [19]:
print(df_ingresos.isnull().sum()) #veo los null

Country Name      2
Country Code      0
Region          132
Income_Group      0
dtype: int64

In [20]:
column = 'Country Name'  # elimino los nulos de la columna
df_ingresos= df_ingresos.dropna(subset=[column])
print(df_ingresos.head())

  Country Name Country Code  \
0        Aruba          ABW
2   Afganistán          AFG
4       Angola          AGO
5      Albania          ALB
6      Andorra          AND

                                              Region  \
0                                                NaN
2                                    Asia meridional
4  África al sur del Sahara (excluido altos ingre...
5    Europa y Asia central (excluido altos ingresos)
6                                                NaN

                     Income_Group
0                    Ingreso alto
2          Países de ingreso bajo
4  Países de ingreso mediano bajo
5            Ingreso mediano alto
6                    Ingreso alto

In [21]:
# eliminar columas irrelevantes
columna_a_eliminar = 'Region'
df_ingresos = df_ingresos.drop(columns=[columna_a_eliminar])
print(df_ingresos)

        Country Name Country Code                    Income_Group
0              Aruba          ABW                    Ingreso alto
2         Afganistán          AFG          Países de ingreso bajo
4             Angola          AGO  Países de ingreso mediano bajo
5            Albania          ALB            Ingreso mediano alto
6            Andorra          AND                    Ingreso alto
..               ...          ...                             ...
261           Kosovo          XKX            Ingreso mediano alto
262  Yemen, Rep. del          YEM          Países de ingreso bajo
263        Sudáfrica          ZAF            Ingreso mediano alto
264           Zambia          ZMB  Países de ingreso mediano bajo
265         Zimbabwe          ZWE  Países de ingreso mediano bajo

[264 rows x 3 columns]

In [22]:
df_ingresos.to_excel('archivo_ingresos.xlsx', index=False)# Guardo

In [45]:
df_ingresos = pd.read_excel('archivo_ingresos.xlsx') #cargo
print(df_ingresos.head()) #mostrar solo primero 5 resultados

  Country Name Country Code                    Income_Group
0        Aruba          ABW                    Ingreso alto
1   Afganistán          AFG          Países de ingreso bajo
2       Angola          AGO  Países de ingreso mediano bajo
3      Albania          ALB            Ingreso mediano alto
4      Andorra          AND                    Ingreso alto

In [47]:
# Necesito contar los valores de cada columna para saber cual borrar
conteo_valores = df_ingresos['Income_Group'].value_counts()

# Mostrar el conteo de valores
print("\nConteo de registros por cada string en la columna 'Income_Group':")
print(conteo_valores)

Conteo de registros por cada string en la columna 'Income_Group':
Income_Group
Ingreso alto                      82
Países de ingreso mediano bajo    54
Ingreso mediano alto              54
Agregados                         47
Países de ingreso bajo            26
No clasificado                     1
Name: count, dtype: int64

In [50]:
# datos antes de la limpieza
print("Datos antes de la limpieza")
print(df_ingresos)

# Elimin las filas con 'No clasificado' en la columna 'Income_Group'
df_ingresos_limpio = df_ingresos[df_ingresos['Income_Group'] != 'No clasificado']

# datos despues de la limpieza
print("\nDatos despues de la limpieza") #\n agrega espacios
print(df_ingresos_limpio)

datos antes de la limpieza
        Country Name Country Code                    Income_Group
0              Aruba          ABW                    Ingreso alto
1         Afganistán          AFG          Países de ingreso bajo
2             Angola          AGO  Países de ingreso mediano bajo
3            Albania          ALB            Ingreso mediano alto
4            Andorra          AND                    Ingreso alto
..               ...          ...                             ...
259           Kosovo          XKX            Ingreso mediano alto
260  Yemen, Rep. del          YEM          Países de ingreso bajo
261        Sudáfrica          ZAF            Ingreso mediano alto
262           Zambia          ZMB  Países de ingreso mediano bajo
263         Zimbabwe          ZWE  Países de ingreso mediano bajo

[264 rows x 3 columns]


Datos después de la limpieza:
        Country Name Country Code                    Income_Group
0              Aruba          ABW                    Ingreso alto
1         Afganistán          AFG          Países de ingreso bajo
2             Angola          AGO  Países de ingreso mediano bajo
3            Albania          ALB            Ingreso mediano alto
4            Andorra          AND                    Ingreso alto
..               ...          ...                             ...
259           Kosovo          XKX            Ingreso mediano alto
260  Yemen, Rep. del          YEM          Países de ingreso bajo
261        Sudáfrica          ZAF            Ingreso mediano alto
262           Zambia          ZMB  Países de ingreso mediano bajo
263         Zimbabwe          ZWE  Países de ingreso mediano bajo

[263 rows x 3 columns]

In [52]:
df_ingresos_limpio.to_excel('archivo_ingresos_limpio.xlsx', index=False)# Guardo

In [53]:
df_ingresos_limpio = pd.read_excel('archivo_ingresos_limpio.xlsx') #cargo
print(df_ingresos_limpio.head()) #mostrar solo primero 5 resultados

  Country Name Country Code                    Income_Group
0        Aruba          ABW                    Ingreso alto
1   Afganistán          AFG          Países de ingreso bajo
2       Angola          AGO  Países de ingreso mediano bajo
3      Albania          ALB            Ingreso mediano alto
4      Andorra          AND                    Ingreso alto

In [54]:
# Transformo los datos de texto a number
mapeo = {
    'Ingreso alto': 5,
    'Ingreso mediano alto': 4,
    'Agregados': 3,
    'Países de ingreso mediano bajo': 2,
    'Países de ingreso bajo': 1
}

df_ingresos_limpio['Income_Group'] = df_ingresos_limpio['Income_Group'].map(mapeo)

print("Datos desp de la conversion:")
print(df_ingresos_limpio)

Datos desp de la conversion:
        Country Name Country Code  Income_Group
0              Aruba          ABW             5
1         Afganistán          AFG             1
2             Angola          AGO             2
3            Albania          ALB             4
4            Andorra          AND             5
..               ...          ...           ...
258           Kosovo          XKX             4
259  Yemen, Rep. del          YEM             1
260        Sudáfrica          ZAF             4
261           Zambia          ZMB             2
262         Zimbabwe          ZWE             2

[263 rows x 3 columns]

In [56]:
df_ingresos_limpio.to_excel('archivo_ingresos_listo.xlsx', index=False)# Guardo

In [57]:
df_ingresos_limpio = pd.read_excel('archivo_ingresos_listo.xlsx') #cargo
print(df_ingresos_limpio.head()) #mostrar solo primero 5 resultados

  Country Name Country Code  Income_Group
0        Aruba          ABW             5
1   Afganistán          AFG             1
2       Angola          AGO             2
3      Albania          ALB             4
4      Andorra          AND             5